*{
    margin: 0%;
    padding: 0%;
    border: 0;
}
body{
    background: #f5f5f5;
    color: #67727A;
    font-family: 'Alegreya', sans-serif;
    margin: o;
    
}
h2{
    font-size: 150%;
    font-weight: 700;
    text-align: center;
    padding: 2%;
}
h3{
    font-size: 150%;
    font-weight: 700;
    text-align: center;
    padding: 5% 0;
    line-height: 150%;
}
p{
    font-size: 100%;
    text-align: justify;
    text-indent: 2%;
    line-height: 150%; 
}
img{
    max-width: 100%;
    height: auto;
    width: autom;
    margin-bottom:  -4px;
    header{
        bacground-color:#6991AC;
        widows: 100%;
        height: 86px;
    }
    #header-inner{
        max-width: 1200px;
        margin- 0 auto;
    }
    #logo{
        margin:20px;
        float:left;
        width:200px;
        height:60px;
        background:url(img/hhhhh.jpg) no-repeat center;
    }
    */---start Navigation--*/
    nav{
        float: right;
        padding: 25px 20px 0 0;

    }
    #menu-icon{
        display: hidden;
        width:40px;
        height:40px;
        background: url(img/hhhhh.jpg) center;
    }
    a.hover#menu-icon{
        border-radius: 4px 4px 0;
    }
     ul {
        list-style-type: none;
    }
    nav{
        ul li{
            font-size: 150%;
            display: inline-block;
            float: left;
            padding: 10px;
        }
        nav ul li a{
            color: #f5f5f5;
        }
        nav ul li a:hover{
            color: #c3c3c3;
        }
        .current{
            columns: #cc33dd;
        }
        /*---End navigation---*/
        .banner{
            width:  100%;
            background-color: #669999;
        }
        .banner-inner{
            max-width: 1100px;
            margin: 0 auto;
        }
        .one-fourth{
            width: 25%;
            float: left;
            text-align: center;
        }
        #INTRODUCTION{
           background-color: #f1f1f1;
        }
          #EARLY CHILDHOOD AND PRIMARY EDUCATION{
              background-color: #fff;
          }
          #SECONDARY EDUCATION {
              background-color:#67727A;
          }
          #INSTITUTIONS OF HIGHER LEARNING{
              background-color: #669999;
          }
          .one-fourth i{
              columns: #f0f0f0;
              font-size: 500%;
              padding: 13% 0 4% 0%;
          }
          .inner-wrapper {
              float: left;
              widows: 100%;
              background-color: c3d7df;
          } 
          article{
              float: left;
              margin: 0 auto;
              width: 50%;
              height: auto; 
          }
          #EDUCATION{
               background-color: #669999; 
          }
          aside{
              float: right;
              margin: 0%
              width: 50%;
              height: auto;
          }
          #graduation in universities{
              background-color: #c3c3c3;
          }
          .inner-wrapper-2{
              float: left;
              width: 100%;
              background-color: #669999;
          }
           .inner-wrapper-3{
               float-left;
               width: 100%;
               background-color: #666666;
           }
           one-third{
               width: 33.333;
               float: left;
               text-align: center;
           }
           #curriculum {
               background-color: #cc33dd;
           }
           #graduation{
               background-color: blue;
           }
           #smiley{
               background-color: goldenrod;
               padding: 0%;
               clear: both;
           }
           /*---start Footer----*/
           footer{
               background-color: darkblue;
               width: 100%;
           }
           .social{
               list-style-type: none;
               text-align: center;
           }
           .social li{
               display: inline;
           }
           .social i{
               font-size: 460%;
               margin:1%;
               margin: 1%;
               padding: 5% 5% 5% 4%;
               color: darkgoldenrod;
           }
           social i:hover{
               color: aqua;
           }
           footer-second{
               border-top: 1px solid #f5f5f5;
               background-color: darkgrey;
               max-height: 55 px;
               margin: 0;
           }
           footer.second p {
               padding: 5px 0 9px 0;
               text-align: center;
           }
           /*----------------MEDIA!!!--------------------*/
           @media screen {
               h2{
                   font-size: 150%;
               }
               h3{
                   font-size: 125%
               }
               p{
                   font-size: 120%
               }
               header{
                   position: absolute:
               }
               #logo{
                   margin:15px 0 20 -25px;
               }
               #menu-icon{
                   display: inline-block;
               }
               nav ul {
                   display: none;
                   z-index: 1000;
                   position: absolute;
                   padding: 20px;
                   background: #666666;
                   right: 20px;
                   top: 60px;
                   border: 1px solid #fff;
                   border-radius: 2px 0 2px;
                   width: 50%;
               }
               nav:hover ul{
                   display-block;
               }
               nav li {
                   text-align: center;
                   width: 100%;
                   padding: 10px 0;
               }
               .banner{
                   padding-top: 86px;
               }
               .one-fourth{
                   float: left;
                   width: 100%;
               }
               .one-fourth{
                   font-size: 35%
                   padding: 4% 0 1% 0;
               }
           }
           }
    }
}
